
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #444444;
    background-color: #999999;
}

.navbar {
  background-color: #bdc3c7;
}

/* Sticky footer styles Url Source : http://getbootstrap.com/examples/sticky-footer-navbar/
-------------------------------------------------- */
html {
  padding:60px 0px 0px 0px;
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
  color: white;
}